<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net48" />
	<!-- EXTRA -->
	<package id="NuGet.Build" version="2.12.1" targetFramework="net48" />
	<package id="NuGet.CommandLine" version="4.9.6" targetFramework="net48" developmentDependency="true" />
</packages>